{{#if this.session.isAuthenticated}}
  <div>

    <LinkTo @route="sparqlets.edit" @model={{@model}} class="btn btn-outline-primary" @role="button">
      <FaIcon @icon="edit" />
    </LinkTo>

    <button {{on "click" this.delete}} type="button" class="btn btn-outline-danger">
      <FaIcon @icon="trash" />
    </button>
  </div>
{{/if}}
