{{#if this.session.isAuthenticated}}
  <div class="mr-3">

    <LinkTo @route="sparqlets.edit" @model={{@model}} class="btn btn-outline-primary" @role="button">
      <FaIcon @icon="edit" />
    </LinkTo>
  </div>
{{/if}}

  <div class="mr-auto">
    <small class="text-muted">Last update: {{@model.mtime}}</small>
  </div>
{{#if this.session.isAuthenticated}}
  <div>
    <LinkTo @route="sparqlets.new" @query={{hash forkFrom=@model.id}} class="btn btn-outline-primary" @role="button">
      <FaIcon @icon="code-branch" />
    </LinkTo>
    <button {{on "click" this.delete}} type="button" class="btn btn-outline-danger">
      <FaIcon @icon="trash" />
    </button>
  </div>
{{/if}}
